@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #020617;
    --background: 243 99.2% 98.1%;
    --foreground: 243 8.4% 0.2%;

    --muted: 243 8.4% 90.5%;
    --muted-foreground: 243 4.2% 40.5%;

    --popover: 243 22.799999999999997% 90.5%;
    --popover-foreground: 243 8.4% 0.25%;

    --card: 243 22.799999999999997% 90.5%;
    --card-foreground: 243 8.4% 0.25%;

    --border: 243 13.4% 89.2%;
    --input: 243 13.4% 89.2%;

    --primary: 243 84% 5%;
    --primary-foreground: 243 1.68% 90.5%;

    --secondary: 243 4.2% 95.25%;
    --secondary-foreground: 243 6.04% 10.5%;

    --accent: 243 4.2% 95.25%;
    --accent-foreground: 243 6.04% 10.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 84% 5%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
